[flake8]

per-file-ignores =
    # Allow unused imports in __init__.py and __main__.py files
    __init__.py:F401
    __main__.py:F401

max-line-length = 88

ignore =
    E501,  # line-length (currently handled by pycodestyle)
    W503,  # line break before binary operator
