[MASTER]

fail-under=8.5


[MESSAGES CONTROL]

disable=
    fixme,
    consider-using-f-string,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
